# Ignore fichiers LaTeX temporaires
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.nav
*.snm

# Fichiers de build
*.dvi
*.ps

#environnement virtuel
venv/
.env/
.venv/
env/
ENV/